.widget
  //- .widget-title
    //- i(class='fa fa-music')= ' ' + __('music')
  iframe(frameborder="no" border="0" marginwidth="0" marginheight="0" width=280 height=86 src=theme.music[0].url+'&type='+theme.music[0].type+'&id='+theme.music[0].id+'&auto='+theme.music[0].auto+'&height='+theme.music[0].height)
